@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div>

    <p>I was just 21 years old when I started my professional career as university teacher. And in a few years I was touched by the power to change people lives by teaching them something that would be the base of their profession. The skills and ability to get a good job help us to be more independent, confident and happy.</p>

    <p>A big differential in my career was identify really early that the majority of teacher and professors had no professional experience and never made a living from the knowledge they were teaching and in my option that was a big deficiency in important courses. I think the main reason for that was that all Computer Science (CS) and Information Technology (IT) university department back in the day were created by mathematicians and engineers. Those were the professionals that already had contact with computers and software and the ones with skills and knowledge to create the CS and IT departments and courses.</p>

    <p>Initially the CS and IT were focused on research but after a few decades a lot of improvements happened and the computer became the most important tool for research and business well. We had an explosion in the demand for CS and IT professional and now the skills requirements were far beyond just technical and scientific. A lot of tools, techniques and methodologies were created allowing people with different skills set (more business focused) to use CS and IT to improve business.</p>

    <p>Based on that observation I decided to define my professional goals to be based on the academic environment but always focused in the IT market as well. It took many years of hard work with parallel jobs of university teacher, computer programmer and system analyst to archive the goal to be able to link the two worlds and find a good symbiosis from the classroom and offices.</p>

    <p>I immigrated to Canada in 2010 and I knew that I would have to give up of the teacher/professor profession at least for a few years because I had to restart my life as a software engineer. So this project was born from the missing (saudade) of the classroom, the contact with students and to give back the best of me to the society.</p>

    <p>The idea is to start with basic topics and get into more advanced until we have enough to prepare someone to be a IT professional. It is not an easy challenge but with hard work it is possible to became an computer programmer (Coder) in just a couple years with really good salary, this anywhere in the world.</p>

    <p>Thank you for join me in the journey and please don’t hesitate to send any question, suggestion or critic to <a href="mailto:airamez@gmail.com">airamez@gmail.com</a></p>

    <p>Good luck.</p>

</div>
