@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Vancouver, British Columbia. Canada<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:airamez@gmail.com">airamez@gmail.com</a><br />
</address>