@{
    ViewBag.Title = "Learn Code";
}

<div class="jumbotron">
    <h1>Learn Code</h1>
    <p class="lead">This site is a volunteer work to help anybody to learn coding (Computer Programming).</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction to Coding/Algorithm</h2>
        <p>
            This is a Youtube channel with an introduction to Coding.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/playlist?list=PL7MbQuFUF78MF_tP65piLFD9raTwDzaGu" target="_blank">Details</a></p>
    </div>
    <div class="col-md-4">
        <h2>Introduction to JavaScript</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>