@{
    ViewBag.Title = "Learn Code";
}

<div class="jumbotron">
    <h1>Learn Code</h1>
    <p class="lead">This site is a volunteer work to help anybody to learn coding (Computer Programming).</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introduction to Coding/Algorithm</h2>
        <p>
            This is a Youtube channel with an introduction to Coding.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/playlist?list=PL7MbQuFUF78MF_tP65piLFD9raTwDzaGu" target="_blank">Open</a></p>
    </div>
    <div class="col-md-4">
        <h2>Introduction to JavaScript</h2>
        <p>This a Java Script course where we will used a web page to have the class content and an IDE (Integrate Development Environment) to practice the class content</p>
        <p><a class="btn btn-default" href="~/WebIDE/WebIDE.html" target="_blank">Open</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Content</h2>

        <h4>Object Oriented</h4>
        <h5>Computer programming technique</h5>

        <h4>Data Structures</h4>
        <h5>Computer programming data structures</h5>

        <h4>SQL</h4>
        <h5>Structuted Query Language - Computer programming language to manipulate data</h5>
    </div>
</div>